html,
body {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
}

.menu {
	display: flex;
	justify-content: center;
}

#opponents {
	display: flex;
	justify-content: space-around;
}

#board {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.dead {
	color: grey;
}


.card {
	display: flex;
	align-items: end;
	justify-content: center;

	width: 100px;
	height: 150px;
	background-color: grey;
	border: solid;
}

.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

#user .card {
	text-align: center;
	width: 200px;
	height: 300px;
}

.active {
	color: green;
}

.winner {
	color: orange;
}

.card-text {
	color: white;
	text-shadow: 2px 1px black;
	font-size: 20px;
}

.player {
	text-align: center;
}
